.message {
    background-color: lightgreen;
    position: absolute;
    top: 47px;
    right: 0px;
    padding: 18px;
}

.msg-success {
    background-color: lightgreen;
}

.msg-danger {
    background-color: crimson;
}