<!-- <div *ngIf="isLoader" class="card shadow-card">
    <div class="card-body">
        <span class="mr-3">Please Wait...</span>
        <div class="spinner-border text-secondary" role="status">

        </div>
    </div>
</div>
 -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button class="btn btn-danger" (click)="deleteUser()">Delete User</button>
<!-- <button class="btn btn-primary" (click)="getUsers()">Get User Datas</button> -->

<app-button-control [addButtonCustomSettings]="addButtonCustomVal" [deleteButtonCustomSettings]="deleteButtonCustomVal" (addButtonEvent)="addUser($event)" (printButtonEvent)="printed()"> </app-button-control>


<!-- ---------------Without Async Pipe--------------------- -->

<div *ngIf="userDetail">
    {{userDetail.name}}
</div>



<!-- ---------------With Async Pipe--------------------- -->

<div *ngIf="userDetail$ | async as _userDetail">
    {{_userDetail.name}}
</div>

<!-- ---------------Mat Datepicker--------------------- -->
<input matInput [matDatepicker]="picker" [(ngModel)]="dob">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
<br>
<button (click)="saveForm()">Save</button> {{dob}}