<div class="card shadow-card">
    <div class="card-body">
        <fusioncharts width="700" height="400" type="Column2d" [dataSource]="dataSource">
        </fusioncharts>
    </div>
</div>
<div class="card shadow-card">
    <div class="card-body">
        <fusioncharts width="700" height="400" type="Column3d" [dataSource]="dataSource">
        </fusioncharts>
    </div>
</div>
<div class="card shadow-card">
    <div class="card-body">
        <fusioncharts width="700" height="400" type="line" [dataSource]="dataSource">
        </fusioncharts>
    </div>
</div>



<strong>This Will create my chart</strong>

<div id="divChart">
    <canvas id="myChart"></canvas>

</div>